@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-card {
  background: linear-gradient(270deg, #2d41d4, #5b07d3);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}
