@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.animated-gradient-card {
  background: linear-gradient(270deg, #001be5b1, #29292f);
  background-size: 200% 700%;
  animation: gradientMove 5s ease infinite;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;  /* IE va Edge */
  scrollbar-width: none;     /* Firefox */
}