.ai-header-company {
	position: fixed;
	width: 100%;
	top: 0;
	background: var(--surface-light); /* pure white */
	backdrop-filter: blur(12px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	z-index: 10;
	transition: all 0.3s ease;
}